html {
	background: linear-gradient(
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)
    ),url(../img/background3.png) no-repeat center center fixed; 
  	-webkit-background-size: cover;
 	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


.content {
	font-size: 1em;
	line-height: 20px;
	margin: 5%;
	padding: 20px;
}

.content h1 {
	margin: 0;
	color: #f44;
}

.contactForm {
	display: block;
	padding-top: 10px;
	text-align: center;
	font-size: .8em;
}

.formSection {
	padding-top: 10px;
}

.form {
	color: #DDD;
	background-color: rgba(0,0,0,.25);
	-moz-border-radius: 5px;  /*or whatever radius*/
	-webkit-border-radius: 5px;  /*or whatever radius*/
	border-radius: 5px;
	border: 2px solid #111;
}

.error {
	color: red;
}

.success {
	color: #ADFF85;
}


.colOne {
  width: 40%;
  float: left;
}

.colTwo {
 width: 40%;
 float: right;
}

textarea {
	margin: auto;
	width: 100%;
	height: 180px;
}

.contactLinks {
	margin-bottom: 20px;
}