/* GENERAL */
* {
  margin: 0;
  padding: 0;
}

.wrapper {
  height: 100%;
  width: 80%;
  margin: auto;
}

/* NAV MENU */

#cssmenu {
  background: rgba(255,255,255,0);
  width: auto;
  text-align: center;
}
#cssmenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: inline;
  white-space: nowrap;
}
#cssmenu ul:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
#cssmenu ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
  width: 33%;
}
#cssmenu.align-right ul li {
  float: right;
}
#cssmenu.align-center ul {
  text-align: center;
}
#cssmenu ul li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}

#cssmenu ul li a:hover {
  color: #333333;
}
#cssmenu ul li a:hover:before {
  width: 100%;
}
#cssmenu ul li a:after {
  content: "";
  display: block;
  position: absolute;
  right: -3px;
  top: 19px;
  height: 6px;
  width: 6px;
  background: #ffffff;
  opacity: .5;

}
#cssmenu ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #333333;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}
#cssmenu ul li.last > a:after,
#cssmenu ul li:last-child > a:after {
  display: none;
}
#cssmenu ul li.active a {
  color: #333333;
}
#cssmenu ul li.active a:before {
  width: 100%;
}
#cssmenu.align-right li.last > a:after,
#cssmenu.align-right li:last-child > a:after {
  display: block;
}
#cssmenu.align-right li:first-child a:after {
  display: none;
}

/* BODY STYLING */
html {
  font-family: 'Open Sans', sans-serif;
  background: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),url(../img/background.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
}

body {
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.colOne {
    width: 35%;
    float: left;
}

.colTwo {
   width: 60%;
   float: right;
}

.container {
  opacity: 0;
  transition: opacity 1s;
}

.container-loaded {
  opacity: 1;
}

#home {
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 2em;
  padding-top: 30px;
  display: block;
}

#home h1, h2 {
  margin: 0;
  text-align: center;
}

#home h1 {
  font-size: 2em;
}

#home h2 {
  font-size: .5em;
}

#work {
  position: relative;
  min-width: 100%;
  min-height: 100%;
}

#profilePic {
  margin: 50px 2.5% 0 0;
}

.content {
  margin: 10% auto 5%;
  padding: 5px;
  width: 100%;
  text-align: center;
  font-size: .5em;
  color: #fff;
  background-color: rgba(0,0,0,.5);
  border: 2px solid #111;
  border-radius: 25px;
}

#mePic {
  display: block; 
  margin:auto;
  border-radius: 50%;
  border: 2px solid #111;
}

#hireButton {
  text-align: center;
  margin: 10%;
}

header {
  background-color:rgba(255,255,255,0.0);
}

a {
    color: #FFF;
}

#footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 1em;
  padding: 1rem;
  color: white;
  background-color: rgba(0,0,0,.25);
  text-align: center;
}

#favicons {
  text-align: center;
  margin: 5%;
}

.social-icon {
  margin: 5px;
  height: 50px;
  width: 50px;
}

.enlarge {
  transition: all .2s ease-in-out;
}
.enlarge:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

.button-link {
    padding: 10px 15px;
    background: #4479BA;
    color: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 2px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
}
.button-link:hover {
    background: #4DB84D;
    border: solid 2px #4DB84D;
    text-decoration: none;
}
.button-link:active {
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    background: #6DB84D;
    border: solid 2px #6DB84D;
}