html {
	background: linear-gradient(
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)
    ),url(../img/background2.png) no-repeat center center fixed; 
  	-webkit-background-size: cover;
 	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  min-height: 100%;
}

.colOne {
  width: 40%;
  float: left;
}

.colTwo {
 width: 40%;
 float: right
}

.projectPill {
  height: 175px;
}
