<!DOCTYPE html>
<html class="nojs">
<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Jerold Bronsch | Front-End Developer</title>
		<meta name="description" content="Jerold Bronsch is a Front-End Developer helping to provide both a minimalist and sleek experience for the new digital age.">
		<meta name="keywords" content="Jerold Bronsch,Vancouver Web Developer, Vancouver Web Designer, Web Design, UX Design, UI Design">
	    <meta name="viewport" content="width=device-width">
		<link rel="stylesheet" href="css/normalize.css">
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="css/animsition.min.css">
		<link rel="stylesheet" href="css/main.css">
		{% block head %}
		{% endblock head %}
		<link rel="stylesheet" href="css/responsive.css">
</head>
<body>
	<div class="container">
		<header>
				<nav id="cssmenu">
					<div class="animsition-overlay" data-animsition-overlay="true" id="navbottom">
						<ul>
							<li><a href="{{ baseUrl() }}" class="animsition-link">Home</a></li>
							<li><a href="{{ siteUrl("/projects") }}" class="animsition-link">Projects</a></li>
							<li><a href="{{ siteUrl("/contact") }}" class="animsition-link">Contact</a></li>
						</ul>
					</div>
				</nav>
		</header>
		<div class="wrapper" id="home">
			<div class="wrapper">
			{% block content%}
			{% endblock content%}
			</div>
		</div>
		<div id="footer">&copy; 2015 Jerold Bronsch
		</div>
	</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="js/animsition.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>