{% extends "main.twig" %}
{% block head%}
<link rel="stylesheet" href="css/projects.css">
{% endblock head%}
	{% block content%}				
	<h1>Projects</h1>
	<div class="wrapper colOne">
		<div class="content enlarge projectPill">
			<a href="https://github.com/Jbronsch"><img src="img/githubmark.png" alt="My Github"></a>
			<p>My Github<p>
		</div>
	</div>
	<div class="wrapper colTwo">
		<div class="content enlarge projectPill">
			<p>More coming soon!</p>
		</div>
	</div>
	{% endblock content%}